.header {
    grid-area: header;
    padding: .5rem;
    display: flex;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 238px;
}

.header-logo-button {
    margin: 0 4px;
    color: #5f6368;
}

.header-search {
    width: 70.3651%;
    padding: 0 30px 0 10px;
    align-items: center;
}

.header-search form {
    width: 720px;
    background-color: #eef3fc;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}

.header-search form > input {
    flex: 1;
    background-color: transparent;
    border: none;
    font: 1rem 'Roboto', Arial, Helvetica, sans-serif;
}

.header-settings {
    display: flex;
    width: 184px;
    align-items: center;
    justify-content: end;
}

.header-settings > span {
    width: 44px;
    height: 44px;
    margin: 0 2px;
    padding: 8px;
}